.body{
    margin: 0%;
    padding: 0%;
}
.nav{
    background-color: gold
}
.nav ul{
    display: flex;
    justify-content: space-around;
}
.nav ul li{
    list-style: none;
}
.nav ul li a{
    text-decoration: none;
}
.namecard .card{
    width: 30%;
    height: 400px;
    background: #57a5de;
    border-radius: 16px;
    text-align: center; 
    color: #ffffff;
}
img{
    width: 50%;
    height: 500px;
    border-radius: 16px 16px 0 0;
    align-content: space-around;
}